<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar un Título</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Formulario de Actualización de Título</h1>
    <!-- Este formulario debería mostrarse solo después de haber seleccionado un título válido que lo hacemos en el de seleccionarID-->
    <form action="#" th:action="@{/actualizarTitulo}" th:object="${actualizarTitulo}" method="post">
        <input type="hidden" th:field="*{id}" />  <!-- Campo oculto para el ID -->
        <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
        <p>Titulo: <input type="text" th:field="*{titulo_obra}" /></p>
        <p>
            <input type="submit" value="Actualizar" /> <input type="reset" value="Reset" />
        </p>
    </form>
</body>
</html>
