<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<!-- Mensaje si no hay usuarios disponibles -->
<div th:if="${#lists.isEmpty(usuarios)}">
    No hay usuarios disponibles.
</div>

<!-- Formulario para realizar un préstamo -->
<form th:action="@{/realizarPrestamo}" th:object="${prestamo}" method="post"> 
    <p>Seleccione el usuario para el préstamo:
        <select name="usuario.id" required>
            <option value="" disabled selected>Seleccione un usuario</option>
            <option th:each="usuario : ${usuarios}" 
                    th:value="${usuario.id}" 
                    th:text="${usuario.id + ' - ' + usuario.nombre}">Usuario
            </option>
        </select>
    </p>
    
    <p>Seleccione el titulo del ejemplar para el préstamo:
        <select name="ejemplar.id" required>
            <option value="" disabled selected>Seleccione un ejemplar</option>
            <option th:each="ejemplar : ${ejemplares}" 
                    th:value="${ejemplar.id}" 
                    th:text="${ejemplar.id + ' - ' + ejemplar.titulo.titulo_obra}">Título
            </option>
        </select>
    </p>
    
    <p>Fecha de inicio:
        <input type="date" name="fechaInicio" required />
    </p>
    
    <p>Fecha de fin:
        <input type="date" name="fechaFin"/>
    </p>
    
    
    <p>
        <input type="submit" value="Realizar Préstamo" />
    </p>
</form>

</body>
</html>
