<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<!-- Formulario para dar de alta 1 título -->
<form action="#" th:action="@{/altaTitulos}" th:object="${altaTitulos}" method="post">
<p>ISBN: <input type="text" th:field="*{isbn}" /></p>
<p>Titulo: <input type="text" th:field="*{titulo_obra}" /></p>
<p>
<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</p>
</form>

<!-- Formulario para borrar título -->
<form th:action="@{/borrarTitulo}" method="post">
    <p>ISBN a borrar: <input type="text" name="isbn" /></p>
    <input type="submit" value="Borrar Título" />
</form>

<!-- Formulario para actualizar título -->
<form action="#" th:action="@{/actualizarTitulo}" th:object="${altaTitulos}" method="post">
    <input type="hidden" th:field="*{id}" />  <!-- Campo oculto para el ID -->
    <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    <p>Titulo: <input type="text" th:field="*{titulo_obra}" /></p>
    <p>
        <input type="submit" value="Actualizar" /> <input type="reset" value="Reset" />
    </p>
</form>

</body>
</html>
