<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado de la operación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Resultado</h1>

<!-- Verifica si se ha dado de baja un ejemplar -->
<div th:if="${ejemplarDadoDeBaja}">
    <p th:text="${mensaje}">Mensaje de éxito</p>
    <a href="/bajaEjemplar">Dar de baja</a>
</div>

<!-- En caso de no darse de baja un ejemplar, muestra mensaje de error -->
<div th:unless="${ejemplarDadoDeBaja}">
    <a href="/bajaEjemplar">Intentar nuevamente</a>
</div>

</body>
</html>
